.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: fit-content;

  border: none;
  border-radius: 50%;

  background-color: transparent;

  color: var(--icon-button-primary-color);

  transition: transform 150ms;
}

.button:not(:disabled):active {
  transform: scale(0.9);
}

.button:not(:disabled):hover {
  cursor: pointer;
}

.button:disabled {
  color: #5d5d5d;
}

.button:disabled .button__icon * {
  fill: currentColor;
}

.button--medium {
  padding: 6px;
}

.button--large {
  padding: 10px;
}

.button--primary {
  background-color: var(--icon-button-primary-bg-color);
}

.button--outlined {
  outline: 1px solid currentColor;
}

.button--plain {
  outline: none;
}

.button__icon {
  width: 30px;
  height: 30px;

  transform: scale(0.9);
}

@media screen and (min-width: 768px) {
  .button__icon {
    transform: scale(1);
  }

  .button--medium {
    padding: 8px;
  }

  .button--large {
    padding: 12px;
  }
}
