@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--bg-primary-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 12px;

  background-color: var(--primary-color);
  background-clip: padding-box;
}

:root {
  --primary-color: #ff5733;
  --white-color: #f5f5f5;
  --black-color: #252525;
  --text-color: #c8c8c8;
  --bg-primary-color: #151515;

  --link-font-color: #434343;

  --gray-color: #232323;

  --slider-height: 10px;
  --slider-bg-color: #363636;
  --slider-thumb-color: #ff5733;

  --track-font-color: #f5f5f5;

  --loader--inset-color: #363636;

  --playlist-border-color: #363636;
  --playlist-info-font-color: #757575;

  --track-border-color: #363636;

  --button-primary-color: #ff5733;
  --button-primary-font-color: #fff;
  --button-primary-disabled-color: #626262;
  --button-primary-hover-color: #e7664a;
  --button-primary-active-color: #bf482e;

  --button-secondary-color: #fff;
  --button-secondary-font-color: #000;
  --button-secondary-hover-color: #e0e0e0;
  --button-secondary-active-color: #a5a5a5;
  --button-outlined-disabled-color: #626262;

  --button-outlined-color: #fff;
  --button-outlined-font-color: #fff;
  --button-outlined-hover-color: #e0e0e0;
  --button-outlined-active-color: #a5a5a5;

  --button-plain-font-color: #fff;
  --button-plain-disabled-color: #626262;

  --button-transition-delay: 100ms;

  --icon-button-primary-color: #ff5733;
  --icon-button-primary-bg-color: #363636;

  --input-border-color: #434343;
  --input-hover-border-color: #fff;
  --input-active-border-color: #ff5733;
  --input-label-font-color: #434343;
  --input-fulfilled-label-font-color: #fff;
  --input-font-color: #fff;
  --input-readonly-border-color: #676767;
  --input-readonly-font-color: #676767;
  --input-invalid-color: #ff0000;

  --input-transition-delay: 250ms;
}
