@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: var(--bg-primary-color);

  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: #FF5733;
  --white-color: #F5F5F5;
  --black-color: #252525;
  --text-color: #C8C8C8;
  --bg-primary-color: #151515;

  --slider-height: 10px;
  --slider-bg-color: #363636;
  --slider-thumb-color: #FF5733;

  --track-font-color: #F5F5F5;
}